nav{
	background-color: #ffcccc;
	padding: 20px;
	
	
}
footer {
	background-color: #ffcccc;
	padding: 20px;
}
 a {
	color: #8c77e1;
	text-decoration: none;
}

nav button {
	background-color: transparent;
	border-radius: 25px;
}

.linkies {
	border-style: solid;
	border-width: thin;
	border-radius: 25px;
	padding: 5px;
}


ul li a {
  text-decoration: none;
}
.my-profile-photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

