nav{
	
	padding: 20px;
	white-space:nowrap;
}

.bg-pink {
	background-color: #50223c;
}
footer {
	background-color: #50223c;
	padding: 20px;
}
main #section {
	background-color: #50223c;
}
.asda{
	color: #f0adc5;
}
nav button {
	background-color: transparent;
	border-radius: 25px;
}

.linkies {
	border-style: solid;
	border-width: thin;
	border-radius: 25px;
	padding: 5px;
}

.my-profile-photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

